@model HURazor.Models.Product

@{
    ViewBag.Title = "FollowItem";
}

@if (ViewBag.Message == "Item already followed")
{
    <h2>Item Already Followed!</h2>
}
else
{
<h2>Item Followed!</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailsUrl)
        </th>
        <th></th>
    </tr>

        <tr>
            <td>
                <img src ='@Url.Content(Model.ImageUrl)' />
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Price)
            </td>
            <td>
                <a class="item-title" href= "@Model.DetailsUrl" title="@Model.ProductName">@Model.ProductName</a>
            </td>
            @if (User.Identity.IsAuthenticated && Model.isFollowed)
                {
                    <td>
                    @using (Html.BeginForm("UnfollowItem", "Follow", new {q=Model.ASIN }))
                    {
                        <button class="btn btn-inverse" title="Unfollow" type="submit">Unfollow</button>
                    }
                </td>
                }

        </tr>
 
</table>
}

